<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
</head>
<body>
<% if (userName && userName !== 'Nieznajomy') { %>
    <h1>Witaj, <%= userName %>!</h1>
    <a href="/logout">Wyloguj</a>
<% } else { %>
    <a href="/login">Logowanie</a>
<% } %>
<form action="/cart" method="GET" style="display: inline">
    <button type="submit">koszyk</button>
</form>
<h2>Towary</h2>
<ul>
    <% products.forEach(prod => { %>
        <li><%= prod.nazwa %> - <%= prod.cena %> PLN</li>
        <form action="/products/<%= prod.id %>" method="GET" style="display: inline">
            <button type="submit">About</button>
        </form>
    <% }) %>
</ul>

</body>
</html>