<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
    <body>
    <h2>Register</h2>
    <form action = "/register" method="POST" onsubmit="return validateForm()">

        <label  for="username">Username:</label>
        <input type="text" id="username" name="username" required>

        <label for="username">Code:</label>
        <input type="password" id="code" name="code" required>
        <button type="submit">Register</button>

    </form>
    <button onclick="window.location.href = '/login';">Login</button>
    <button onclick="window.location.href = '/';">Main Page</button>

    <script>
        function validateForm() {
                const username = document.getElementById("username").value;
                const code = document.getElementById("code").value;

                if (code === username) {
                    alert("Hasło i Nazwa nie mogą być takie same.");
                    return false; // Prevent form submission
                }
                if(code.length < 4){
                    alert("Hasło musi być dłuższe, minimum 5 znaków.");
                    return false;
                }
                if(username==="nieznajomy"){
                    alert("Błędna nazwa.")
                    return false;
                }
                if (!username.trim() || username.includes(' ')) {
                    alert("Username cannot be empty or contain spaces");
                    return false;
                }
                if (!code.trim() || code.includes(' ')) {
                    alert("Password cannot be empty or contain spaces");
                    return false;
                }

                return true; // Allow form submission
            }
    </script>

</body>
</html>

